rag-ingestion.sanitized.json
{
  "name": "WCAI RAG Database Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -320
      ],
      "id": "d952d032-fcef-465a-bae7-95c124c55212",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1088,
        -320
      ],
      "id": "c273f29e-a9ca-4d71-b232-72d0a054fe8e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase RAG account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "filterByFormula": "AND({Source Media}!='', {Content}='')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -256,
        -320
      ],
      "id": "68e90d9d-2e57-4773-90d6-d44f5d388ca7",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['MIME Type'] }}",
                    "rightValue": "=Video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9b18a791-22f8-4039-8aec-3fa5395bb311"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "92d0cd2f-c9e5-4812-8fb3-53d98c3991be",
                    "leftValue": "={{ $json['MIME Type'] }}",
                    "rightValue": "=text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "leftValue": "={{ $json['MIME Type'] }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -32,
        -336
      ],
      "id": "500f6f61-ab06-4d94-919b-8501f520b6a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json['Source Media'][0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -128
      ],
      "id": "993c48a7-d364-4dab-8a76-06c739bfc8d5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed": false,
            "id": "={{ $('Switch').item.json.id }}",
            "Content": "={{ $json.data }}",
            "MIME Type": "={{ $('Switch').item.json['Source Media'][0].type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Document ID",
              "displayName": "Document ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Media",
              "displayName": "Source Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Internal",
                  "value": "Internal"
                },
                {
                  "name": "Youtube",
                  "value": "Youtube"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Service Info",
                  "value": "Service Info"
                },
                {
                  "name": "Testimonial",
                  "value": "Testimonial"
                },
                {
                  "name": "Case Study",
                  "value": "Case Study"
                },
                {
                  "name": "Pricing",
                  "value": "Pricing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MIME Type",
              "displayName": "MIME Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Indexed",
              "displayName": "Indexed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        -128
      ],
      "id": "b1bab59f-1a16-418b-bdcd-0083f94c9c41",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Source Media'][0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -320
      ],
      "id": "15abc567-2156-401e-b936-a834a1443c36",
      "name": "Down load video"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        -320
      ],
      "id": "09eea187-393a-45e1-b7d4-997394e20fbd",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed": false,
            "id": "={{ $('Switch').item.json.id }}",
            "Content": "={{ $json.text }}",
            "MIME Type": "={{ $('Switch').item.json['Source Media'][0].type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Document ID",
              "displayName": "Document ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Media",
              "displayName": "Source Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Internal",
                  "value": "Internal"
                },
                {
                  "name": "Youtube",
                  "value": "Youtube"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Service Info",
                  "value": "Service Info"
                },
                {
                  "name": "Testimonial",
                  "value": "Testimonial"
                },
                {
                  "name": "Case Study",
                  "value": "Case Study"
                },
                {
                  "name": "Pricing",
                  "value": "Pricing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MIME Type",
              "displayName": "MIME Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Indexed",
              "displayName": "Indexed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        -320
      ],
      "id": "68b435ee-e9eb-4f88-a598-c11bcdaa1475",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Source Media'][0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -512
      ],
      "id": "d6ea306c-100e-4b74-aba6-1f416cfc4972",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        -512
      ],
      "id": "873dbcc8-1163-4408-b898-51dd8de1a498",
      "name": "Extract PDF Text"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed": false,
            "id": "={{ $('Switch').item.json.id }}",
            "Content": "={{ $json.text }}",
            "MIME Type": "={{ $('Switch').item.json['Source Media'][0].type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Document ID",
              "displayName": "Document ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Media",
              "displayName": "Source Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Internal",
                  "value": "Internal"
                },
                {
                  "name": "Youtube",
                  "value": "Youtube"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Service Info",
                  "value": "Service Info"
                },
                {
                  "name": "Testimonial",
                  "value": "Testimonial"
                },
                {
                  "name": "Case Study",
                  "value": "Case Study"
                },
                {
                  "name": "Pricing",
                  "value": "Pricing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MIME Type",
              "displayName": "MIME Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Indexed",
              "displayName": "Indexed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        -512
      ],
      "id": "1b915a12-e8df-409f-8fa6-e3a25e209e02",
      "name": "Update record PDF",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "filterByFormula": "AND({Content}!='', {Indexed}!=1)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        864,
        -320
      ],
      "id": "3e34a03a-8954-48bb-af8c-8d4ee67279f7",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        -96
      ],
      "id": "8ccbe717-7aa1-41be-91ed-ad5caf061251",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.Content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Document ID",
                "value": "={{ $json.id }}"
              },
              {
                "name": "File Size",
                "value": "={{ $json['Source Media'][0].size }}"
              },
              {
                "name": "Mime Type",
                "value": "={{ $json['Source Media'][0].type }}"
              },
              {
                "name": "Source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "Source URL",
                "value": "={{ $json['Source URL'] }}"
              },
              {
                "name": "Context",
                "value": "={{ $json.Context }}"
              },
              {
                "name": "Description",
                "value": "={{ $json.Description }}"
              },
              {
                "name": "Content",
                "value": "={{ $json.Content }}"
              },
              {
                "name": "File Name",
                "value": "={{ $json['Source Media'][0].filename }}"
              },
              {
                "name": "System",
                "value": "CRM Working Class AI"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1232,
        -96
      ],
      "id": "dfa4ab2d-076f-4006-bb3f-2a1710ef68ff",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_KNOWLEDGE_BASE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "RAG knowledge base",
          "cachedResultUrl": "https://example.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Indexed": true,
            "id": "={{ $('Search records1').item.json.id }}",
            "Context": "Service Info",
            "source": "Internal"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Document ID",
              "displayName": "Document ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source Media",
              "displayName": "Source Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Internal",
                  "value": "Internal"
                },
                {
                  "name": "Youtube",
                  "value": "Youtube"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Service Info",
                  "value": "Service Info"
                },
                {
                  "name": "Testimonial",
                  "value": "Testimonial"
                },
                {
                  "name": "Case Study",
                  "value": "Case Study"
                },
                {
                  "name": "Pricing",
                  "value": "Pricing"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MIME Type",
              "displayName": "MIME Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Indexed",
              "displayName": "Indexed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1440,
        -320
      ],
      "id": "0b11fb51-ab0c-456f-97ab-153ac9b3a240",
      "name": "Update record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Down load video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Down load video": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Update record PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record PDF": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Update record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}