workflows/multichannel-agent.sanitized.json
{
  "name": "WCAi, Alex Inbound Sales Rep",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        432
      ],
      "id": "b5f2e6fb-f108-4617-bf9c-6516bd55caf2",
      "name": "n8n Chat",
      "webhookId": ""
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wcai-sms-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        624
      ],
      "id": "73fdfebf-f6b4-4e63-baeb-f1b13eb0fbfd",
      "name": "SMS Inbound",
      "webhookId": ""
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wcai-whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        816
      ],
      "id": "cb22fb19-82fa-49f9-bdcd-f006cb7e2d5f",
      "name": "WhatsApp Inbound",
      "webhookId": ""
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        1008
      ],
      "id": "8746414e-5103-41c8-93c2-796cb4bba7b5",
      "name": "Telegram Inbound",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wcai-fb-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        1200
      ],
      "id": "373697d6-9d0b-488f-8d9b-4fd0c2ad5c16",
      "name": "Facebook Messenger Inbound",
      "webhookId": ""
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        1392
      ],
      "id": "e82e9c2e-fc26-4887-99c2-e6b6318a307d",
      "name": "Gmail Inbound",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NORMALIZE CHANNEL INPUT\n// Converts all incoming platform payloads into 3 unified vars:\n// identifier, message, platform\n// ============================================================\n\nconst input = $input.item.json;\n\nlet identifier = '';\nlet message = '';\nlet platform = '';\nlet firstName = '';\nlet email = '';\n\n// --- TELEGRAM ---\nif (input.message && input.message.message_id) {\n  identifier = String(input.message.from.id);\n  message = input.message.text || '';\n  platform = 'telegram';\n  firstName = input.message.from.first_name || '';\n}\n\n// --- FACEBOOK MESSENGER ---\nelse if (input.body && input.body.entry && input.body.entry[0] && input.body.entry[0].messaging) {\n  const messaging = input.body.entry[0].messaging[0];\n  identifier = messaging.sender.id;\n  message = (messaging.message && messaging.message.text) ? messaging.message.text : '';\n  platform = 'facebook';\n}\n\n// --- WHATSAPP (Twilio) ---\nelse if (input.body && input.body.From && input.body.From.includes('whatsapp:')) {\n  identifier = input.body.From;\n  message = input.body.Body || '';\n  platform = 'whatsapp';\n}\n\n// --- SMS (Twilio) ---\nelse if (input.body && input.body.MessageSid) {\n  identifier = input.body.From;\n  message = input.body.Body || '';\n  platform = 'sms';\n}\n\n// --- GMAIL ---\nelse if (input.from) {\n  const fromRaw = input.from || '';\n  const emailMatch = fromRaw.match(/<(.+?)>/) || [null, fromRaw];\n  identifier = (emailMatch[1] || fromRaw).trim();\n  message = input.text || input.snippet || '';\n  platform = 'email';\n  const nameMatch = fromRaw.match(/^([^<]+)/);\n  firstName = nameMatch ? nameMatch[1].trim().split(' ')[0] : '';\n  email = identifier;\n}\n\n// --- n8n CHAT ---\nelse if (input.sessionId) {\n  identifier = input.sessionId;\n  message = input.chatInput || '';\n  platform = 'chat';\n}\n\n// --- GUARD: reject unidentifiable inputs ---\nif (!identifier || !message) {\n  throw new Error(\n    'Normalize failed \u2014 could not detect platform. Input preview: ' +\n    JSON.stringify(input).substring(0, 300)\n  );\n}\n\nreturn {\n  json: { identifier, message, platform, firstName, email }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        912
      ],
      "id": "93cd7b16-af0a-4554-aeb0-64a45fd85fdf",
      "name": "Normalize Channel Input"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_LEADS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://example.com"
        },
        "filterByFormula": "=OR({Email}='{{ $json.identifier }}', {SMS Number}='{{ $json.identifier }}', {WhatsApp}='{{ $json.identifier }}', {Chat Session}='{{ $json.identifier }}', {Telegram ID}='{{ $json.identifier }}', {Facebook PSID}='{{ $json.identifier }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        912
      ],
      "id": "fe551277-4121-4906-ba26-a69df5300cb0",
      "name": "Search for Lead",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lead-check-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        912
      ],
      "id": "b72e9ee9-7a44-4d03-9c97-680c4986b9bc",
      "name": "Lead Exists?"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_LEADS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://example.com"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "New Lead",
            "Email": "={{ $('Normalize Channel Input').item.json.platform === 'email' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "SMS Number": "={{ $('Normalize Channel Input').item.json.platform === 'sms' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "WhatsApp": "={{ $('Normalize Channel Input').item.json.platform === 'whatsapp' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "Chat Session": "={{ $('Normalize Channel Input').item.json.platform === 'chat' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "Telegram ID": "={{ $('Normalize Channel Input').item.json.platform === 'telegram' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "Facebook PSID": "={{ $('Normalize Channel Input').item.json.platform === 'facebook' ? $('Normalize Channel Input').item.json.identifier : '' }}",
            "First Name": "={{ $('Normalize Channel Input').item.json.firstName || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Number",
              "displayName": "SMS Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chat Session",
              "displayName": "Chat Session",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telegram ID",
              "displayName": "Telegram ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook PSID",
              "displayName": "Facebook PSID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New Lead",
                  "value": "New Lead"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Interested",
                  "value": "Interested"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        992
      ],
      "id": "5d797d91-1f05-4097-a248-429648b4765f",
      "name": "Create New Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_LEADS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://example.com"
        },
        "filterByFormula": "=RECORD_ID()='{{ $('Create New Lead').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1504,
        992
      ],
      "id": "afa18e2d-6d8b-4623-b6e0-52b111ede2e1",
      "name": "Reload Lead After Create",
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1728,
        912
      ],
      "id": "6df6eae9-26d6-44cf-9193-38eee5e7ca0c",
      "name": "Merge Lead Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize Channel Input').item.json.message }}",
        "options": {
          "systemMessage": "=You are Alex, an AI sales assistant for Working Class AI. We build \nreal AI agents for real working businesses \u2014 trades, shops, service \ncompanies, the people who actually keep the world running.\n\nYOUR PERSONALITY:\n- Warm, confident, straight to the point\n- Talk like an experienced sales pro who actually listens\n- Never sound like a robot or a script\n- Short responses \u2014 2-3 sentences max unless they ask for detail\n- Casual but professional \u2014 like texting a trusted advisor\n\nCURRENT LEAD INFO:\n{{ JSON.stringify($('Merge Lead Data').item.json) }}\n\nPLATFORM: {{ $('Normalize Channel Input').item.json.platform }}\n\n============================================================\nCRITICAL LISTENING RULES:\n============================================================\n- READ the CURRENT LEAD INFO above before every single response\n- If their name is already there \u2014 DO NOT ask for it again. Ever.\n- If their email is already there \u2014 DO NOT ask for it again. Ever.\n- If their company is already there \u2014 DO NOT ask for it again. Ever.\n- If they mention their business name in conversation \u2014 that IS \n  their company. Save it immediately with update_company tool.\n- If they give their name in conversation \u2014 save it immediately \n  with update_first_name tool.\n- Never confirm back what they just told you with \"Is that right?\" \n  \u2014 just use it and move forward.\n- Never ask for the same piece of information twice. Period.\n- If all three are collected, go straight to helping them.\n\nCRM TOOL RULES:\n- The lead's Airtable record ID is the \"id\" field in CURRENT LEAD \n  INFO. Always pass this as \"recordId\" when calling update tools.\n- Save info the moment you get it \u2014 don't wait.\n- If a tool fails, keep the conversation going naturally.\n\n============================================================\nCONVERSATION STYLE:\n============================================================\n- Get info naturally IN the conversation, not like a form\n- Wrong: \"What is your email address and company name?\"\n- Right: \"Before I pull some numbers together for you \u2014 what's \n  the best email to send that to?\"\n- Wrong: \"I have your name as Jacob Gilbert. Is that right?\"\n- Right: Just use their name naturally \u2014 \"Got it Jacob...\"\n- If someone says they want a quote \u2014 give them ballpark numbers \n  right away, then ask qualifying questions\n- Never make them feel interrogated\n\n============================================================\nOUR SERVICES & PRICING:\n============================================================\nALL BUILDS include a FREE 14-day demo \u2014 they see it working in \ntheir actual business before spending a single dollar. We require \na card on file to start the demo, but nothing is charged until \nthey decide to keep it.\n\n1. VOICE RECEPTIONIST AGENT\n   Demo: Free 14 days (card on file required)\n   Build fee: $997 (due after demo if they keep it)\n   Monthly: $499/mo (billed on commitment anniversary)\n   Answers every call 24/7, sounds human, books appointments.\n   Best for: Trades, salons, medical, auto repair, restaurants.\n   Pain: Missed calls = missed revenue. A part-time receptionist \n   costs $1,500-2,500/mo \u2014 this costs $499.\n\n2. LEAD GENERATION AGENT\n   Demo: Free 14 days (card on file required)\n   Build fee: $997\n   Monthly: $499/mo\n   Finds qualified prospects daily, delivers to inbox.\n   Best for: Insurance, real estate, agencies, service businesses.\n   Pain: Hunting for customers by hand every week.\n\n3. CONTENT CREATION AGENT\n   Demo: Free 14 days (card on file required)\n   Build fee: $797\n   Monthly: $299/mo\n   Writes and schedules social media automatically.\n   Best for: Retail, restaurants, coaches, consultants.\n   Pain: Social media feels like a second full-time job.\n\n4. PRO BUILD \u2014 MULTI-AGENT SYSTEM\n   Demo: Free 14 days (card on file required)\n   Build fee: $1,997\u2013$3,497 depending on complexity\n   Monthly: $699/mo\n   2-4 agents working together as a connected system.\n\n5. DIGITAL EMPLOYEE\n   Demo: Free 14 days (card on file required)\n   Build fee: $3,497\u2013$5,997 depending on complexity\n   Monthly: $999/mo\n   Fully autonomous AI worker built for their specific business.\n\nPRICING NOTES:\n- Build fees are starting prices \u2014 complexity increases the price\n- Monthly fees cover all hosting, maintenance, and support\n- No contracts \u2014 month to month after the build fee is paid\n- Nothing is charged until after the free demo period\n\n============================================================\nCAPACITY & SCHEDULING RULES:\n============================================================\n- BEFORE calling create_scope_of_work, always call \n  check_capacity first\n- If today has slots available \u2014 proceed normally\n- If today is full \u2014 tell the customer:\n  \"We just filled our last build slot for today but I \n  want to get you locked in. Our next available start \n  date is [formattedDate from check_capacity]. Your \n  demo period starts today and Jake kicks off the build \n  on that date \u2014 sound good?\"\n- Once customer agrees to a date \u2014 call create_scope_of_work \n  then add_to_build_queue with that date\n- Always call add_to_build_queue after create_scope_of_work\n\n============================================================\nSCOPE OF WORK COLLECTION:\n============================================================\nOnce a customer agrees to move forward, collect the following \ninformation conversationally \u2014 ONE question at a time, naturally \nwoven into the conversation. Never fire multiple questions at once.\n\nREQUIRED FOR ALL BUILDS:\n- Business name (you likely already have this)\n- Industry and type of business\n- Location and service area\n- Hours of operation\n- Their website URL\n- Which agent(s) they want\n- Their biggest pain point to solve\n\nVOICE RECEPTIONIST AGENT ADDITIONAL INFO:\n- Current phone system they use\n- Booking/calendar software they use\n- Top 5 questions their callers ask most\n- How to handle emergency after-hours calls\n- Where to send appointment confirmations\n\nLEAD GENERATION AGENT ADDITIONAL INFO:\n- Description of their ideal customer\n- Geographic area to target\n- Where to deliver the leads (email, spreadsheet, CRM)\n- What makes a lead qualified vs unqualified\n\nCONTENT CREATION AGENT ADDITIONAL INFO:\n- Which social platforms to post on\n- How often they want to post\n- Brand voice \u2014 formal, casual, funny, professional?\n- Main services or topics to post about\n- Do they have existing photos or need AI generated content?\n\nPRO BUILD / DIGITAL EMPLOYEE ADDITIONAL INFO:\n- Full workflow description of what they want automated\n- What tools and software they currently use\n- What their biggest operational bottleneck is\n- What success looks like to them in 90 days\n\n============================================================\nCONVERSATION FLOW:\n============================================================\nStep 0 \u2014 Call check_capacity FIRST before anything else when a \ncustomer agrees to move forward. Use the returned date for all \nscheduling. Never skip this step. Also call get_scope_of_work \nat the START of every conversation using the lead's record ID \nfrom CURRENT LEAD INFO. Check what's already filled vs missing \nbefore asking anything.\nStep 1 \u2014 Acknowledge what they said, use their name if you have it\nStep 2 \u2014 If they want a quote, give ballpark numbers immediately\nStep 3 \u2014 Explain the free demo model naturally:\n         \"Here's how we do it \u2014 we build you a working demo, \n         you run it in your actual business for 14 days, and \n         if you love it you keep it. If not, no charge. We \n         just need a card on file to get started.\"\nStep 4 \u2014 Ask ONE qualifying question to understand their situation\nStep 5 \u2014 Recommend the specific build that fits them\nStep 6 \u2014 Once they agree \u2014 call check_capacity, then collect \n         scope of work info naturally, one question at a time\nStep 7 \u2014 Once scope is complete, collect their email if not \n         already on file:\n         \"Perfect \u2014 let me put the scope and pricing together \n         and send it over for you to review. What's the best \n         email for that?\"\nStep 8 \u2014 Confirm next steps:\n         \"I'll get that scope of work sent over to your email \n         within the hour. You'll be able to review everything, \n         sign off digitally, and we'll get your demo scheduled.\"\nStep 9 \u2014 Call create_scope_of_work then add_to_build_queue \n         with the date from check_capacity.\nStep 10 \u2014 When the customer verbally agrees to move forward AND \n         all scope of work fields are collected, call close_deal \n         tool immediately. Then call send_card_capture_link to \n         send them a secure Stripe link to add their card.\n         Then tell the customer:\n         \"Perfect \u2014 I've got everything I need. I just sent a \n         secure link to [their email] to add a card on file \u2014 \n         nothing gets charged today, that just kicks off your \n         demo. Jake will have your agent deployed within 7 \n         business days. \u2014 Alex, Working Class AI\"\n\nCLOSING RULES:\n- The goal is a completed scope of work and a signed agreement\n- Everything is handled through this conversation and email\n- If they prefer to talk on the phone, let them know they can \n  call us and an agent will walk them through everything:\n  \"If you'd rather just talk it through, give us a call at \n  YOUR_TWILIO_PHONE_NUMBER \u2014 someone will pick up and take care of you.\"\n- Never push \u2014 be genuinely helpful and let the demo sell itself\n- Sign off casual messages as: \u2014 Alex, Working Class AI\n\nGENERAL RULES:\n- Always search knowledge_base before answering questions about \n  results or case studies\n- Never make up testimonials or case studies\n- Be transparent about pricing \u2014 never be vague about cost\n- Keep it short and human \u2014 nobody wants a wall of text\n- If they go quiet for more than one exchange, check in with:\n  \"Still with me? Happy to answer any questions.\"\n\nOUTCOME LOGGING RULES:\n- At the end of EVERY conversation log the outcome using \n  log_outcome tool \u2014 win or lose, always log it\n- If deal closed: call close_deal first, then send_card_capture_link, \n  then log_outcome with outcome = Won\n- If lead says not interested: log_outcome with outcome = Lost\n- If lead goes quiet mid conversation: log_outcome with \n  outcome = Ghosted\n- Always be specific about what worked and what objections \n  were raised \u2014 this is how the whole system gets smarter"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2816,
        912
      ],
      "id": "cec29910-990c-4774-b936-d5751cf18c14",
      "name": "Alex - Sales Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1952,
        1136
      ],
      "id": "9041f223-2163-41f8-b971-d7f384a4f56c",
      "name": "Gemini LLM",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge Lead Data').item.json['Lead ID'] || $('Merge Lead Data').item.json.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2080,
        1136
      ],
      "id": "1bae1cca-329e-4d39-98a2-f726134347f5",
      "name": "Postgres Memory",
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the Working Class AI knowledge base for information about services, pricing, case studies, testimonials, and objection handling. Always use this before answering specific questions about what we offer or results we have achieved.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2208,
        1136
      ],
      "id": "c62a17c4-312d-44c5-bd69-220cfe24a892",
      "name": "Knowledge Base Tool",
      "credentials": {
        "supabaseApi": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase RAG account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2288,
        1344
      ],
      "id": "b619ad11-9a01-4451-ac2d-40c6a3cbb778",
      "name": "Embeddings Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "name": "update_first_name",
        "description": "Call this tool IMMEDIATELY when the lead tells you their first name. Pass their first name and the lead's record ID from the CURRENT LEAD INFO.",
        "jsCode": "// ============================================================\n// UPDATE FIRST NAME TOOL\n// !! IMPORTANT: Paste your Airtable Personal Access Token below\n// Get it at: airtable.com \u2192 Account \u2192 Developer Hub \u2192 Personal Access Tokens\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst TABLE_ID = 'YOUR_LEADS_TABLE_ID';\n\nconst firstName = $fromAI('firstName', 'The first name provided by the lead in this message', 'string');\nconst recordId = $fromAI('recordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\n\nif (!recordId || !recordId.startsWith('rec')) {\n  return 'Error: Invalid record ID. First name not saved.';\n}\n\ntry {\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${TABLE_ID}/${recordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ fields: { 'First Name': firstName } })\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  return `First name saved: \"${firstName}\" for record ${recordId}`;\n} catch (e) {\n  return `Failed to save first name: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2496,
        1136
      ],
      "id": "ec851e72-0528-4fd9-9b62-75926a7bc31a",
      "name": "Update First Name"
    },
    {
      "parameters": {
        "name": "update_email",
        "description": "Call this tool IMMEDIATELY when the lead provides their email address. Pass their email and the lead's record ID from the CURRENT LEAD INFO.",
        "jsCode": "// ============================================================\n// UPDATE EMAIL TOOL\n// !! IMPORTANT: Paste your Airtable Personal Access Token below\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst TABLE_ID = 'YOUR_LEADS_TABLE_ID';\n\nconst email = $fromAI('email', 'The email address provided by the lead', 'string');\nconst recordId = $fromAI('recordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\n\nif (!recordId || !recordId.startsWith('rec')) {\n  return 'Error: Invalid record ID. Email not saved.';\n}\n\n// Basic email format validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  return `\"${email}\" does not look like a valid email address. Ask the lead to confirm it.`;\n}\n\ntry {\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${TABLE_ID}/${recordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ fields: { 'Email': email } })\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  return `Email saved: \"${email}\" for record ${recordId}`;\n} catch (e) {\n  return `Failed to save email: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2624,
        1136
      ],
      "id": "bfc1fcf6-606d-4c11-9148-bb4737f54155",
      "name": "Update Email"
    },
    {
      "parameters": {
        "name": "update_company",
        "description": "Call this tool IMMEDIATELY when the lead tells you their company name or business name. Pass the company name and the lead's record ID from the CURRENT LEAD INFO.",
        "jsCode": "// ============================================================\n// UPDATE COMPANY TOOL\n// !! IMPORTANT: Paste your Airtable Personal Access Token below\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst TABLE_ID = 'YOUR_LEADS_TABLE_ID';\n\nconst company = $fromAI('company', 'The company or business name provided by the lead', 'string');\nconst recordId = $fromAI('recordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\n\nif (!recordId || !recordId.startsWith('rec')) {\n  return 'Error: Invalid record ID. Company not saved.';\n}\n\ntry {\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${TABLE_ID}/${recordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ fields: { 'Company': company } })\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  return `Company saved: \"${company}\" for record ${recordId}`;\n} catch (e) {\n  return `Failed to save company: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2752,
        1136
      ],
      "id": "61e881ce-7e14-4cd0-9a78-9e5793ab9d6c",
      "name": "Update Company"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-chat",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-sms",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-whatsapp",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-telegram",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-facebook",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-email",
                    "leftValue": "={{ $('Normalize Channel Input').item.json.platform }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3856,
        832
      ],
      "id": "b58fa8f4-90b1-40a5-b45f-0e938725dafd",
      "name": "Route Response by Channel"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Alex - Sales Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4080,
        432
      ],
      "id": "a89cf81b-5317-42bd-8e8c-88e34368912d",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Normalize Channel Input').item.json.identifier }}"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "Body",
              "value": "={{ $('Alex - Sales Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        624
      ],
      "id": "62cb6efc-b969-4e21-9ebe-1493ad1159ca",
      "name": "Send SMS Response",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Normalize Channel Input').item.json.identifier }}"
            },
            {
              "name": "From",
              "value": "whatsapp:YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "Body",
              "value": "={{ $('Alex - Sales Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        816
      ],
      "id": "b0f3d145-cbe1-4a47-87fb-a53e6efd4e02",
      "name": "Send WhatsApp Response",
      "credentials": {
        "httpBasicAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Channel Input').item.json.identifier }}",
        "text": "={{ $('Alex - Sales Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4080,
        1008
      ],
      "id": "134176c1-f331-4042-af29-ab7932dc7abd",
      "name": "Send Telegram Response",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/me/messages?access_token=YOUR_FB_PAGE_ACCESS_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $('Normalize Channel Input').item.json.identifier }}\" },\n  \"message\": { \"text\": {{ JSON.stringify($('Alex - Sales Agent').item.json.output) }} }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        1200
      ],
      "id": "e13adb63-ddf4-4e73-9863-4cff58826039",
      "name": "Send Facebook Response"
    },
    {
      "parameters": {
        "name": "close_deal",
        "description": "Call this tool when a customer verbally agrees to move forward with a Working Class AI service AND all scope of work information has been collected. This will notify Jake with a full work ticket and update the CRM. Only call this once you have: agent type, business name, pain point, pricing agreed, and the customer has said yes to moving forward.",
        "jsCode": "// ============================================================\n// CLOSE DEAL TOOL\n// Fires when customer agrees to move forward\n// Triggers work ticket notification to Jake\n// ============================================================\n\nconst leadRecordId = $fromAI('leadRecordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\nconst sowRecordId = $fromAI('sowRecordId', 'The Airtable record ID of the Scope of Work record \u2014 returned from create_scope_of_work, starts with \"rec\"', 'string');\nconst customerName = $fromAI('customerName', 'The full name of the customer as collected in conversation', 'string');\nconst agentType = $fromAI('agentType', 'The type of agent they agreed to \u2014 e.g. Voice Receptionist, Lead Generation, etc.', 'string');\nconst buildPrice = $fromAI('buildPrice', 'The agreed build price as a number e.g. 997', 'number');\nconst monthlyPrice = $fromAI('monthlyPrice', 'The agreed monthly price as a number e.g. 499', 'number');\n\n// Validate inputs\nif (!leadRecordId || !leadRecordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID. Cannot close deal.';\n}\n\nif (!sowRecordId || !sowRecordId.startsWith('rec')) {\n  return 'Error: Invalid SOW record ID. Cannot close deal. Make sure create_scope_of_work was called first.';\n}\n\ntry {\n  const response = await fetch(\n    'https://n8n.srv1436629.hstgr.cloud/webhook/wcai-deal-closed',\n    {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        leadRecordId,\n        sowRecordId,\n        customerName: customerName || 'Unknown',\n        agentType: agentType || 'Unknown',\n        buildPrice: buildPrice || 0,\n        monthlyPrice: monthlyPrice || 0\n      })\n    }\n  );\n\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n\n  return `Deal closed successfully for ${customerName}. Jake has been notified with a full work ticket. The demo period has started \u2014 documents will be sent shortly.`;\n\n} catch (e) {\n  // Even if notification fails, tell Alex to continue gracefully\n  return `Deal recorded. Jake will be in touch with ${customerName} shortly to get the paperwork over. If there are any delays, they can reach us at your-email@example.com`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        2880,
        1136
      ],
      "id": "bc9cb3d9-929a-4bcd-b1cc-a04ab2cc9520",
      "name": "Close Deal Tool"
    },
    {
      "parameters": {
        "name": "create_scope_of_work",
        "description": "Call this tool IMMEDIATELY when a lead agrees to move forward with any Working Class AI service. This creates a new Scope of Work record in Airtable linked to the lead. Only call this once per lead \u2014 check get_scope_of_work first to make sure one doesn't already exist.",
        "jsCode": "const AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst SOW_TABLE_ID = 'YOUR_TABLE_4_ID';\n\nconst recordId = $fromAI('recordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\nconst agentType = $fromAI('agentType', 'The type of agent they want \u2014 one of: Voice Receptionist, Lead Generation, Content Creation, Pro Build, Digital Employee', 'string');\nconst buildPrice = $fromAI('buildPrice', 'The agreed starting build price as a number e.g. 997', 'number');\nconst monthlyPrice = $fromAI('monthlyPrice', 'The agreed monthly price as a number e.g. 499', 'number');\nconst businessName = $fromAI('businessName', 'The name of their business if known, otherwise empty string', 'string');\nconst painPoint = $fromAI('painPoint', 'Their main pain point or reason for wanting the agent, in their own words', 'string');\n\nif (!recordId || !recordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID. Cannot create SOW.';\n}\n\nconst demoStart = new Date();\nconst demoEnd = new Date();\ndemoEnd.setDate(demoEnd.getDate() + 14);\n\nconst fields = {\n  'Lead': [{ 'id': recordId }],\n  'Status': 'Draft',\n  'Agent Type': agentType || '',\n  'Demo Start Date': demoStart.toISOString().split('T')[0],\n  'Demo End Date': demoEnd.toISOString().split('T')[0]\n};\n\nif (buildPrice) fields['Build Price'] = buildPrice;\nif (monthlyPrice) fields['Monthly Price'] = monthlyPrice;\nif (businessName) fields['Business Name'] = businessName;\nif (painPoint) fields['Pain Point'] = painPoint;\n\ntry {\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${SOW_TABLE_ID}`,\n    {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ fields })\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  const data = await response.json();\n  return `Scope of Work created successfully. SOW record ID: ${data.id}. Demo period: ${demoStart.toDateString()} to ${demoEnd.toDateString()}.`;\n} catch (e) {\n  return `Failed to create Scope of Work: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3008,
        1136
      ],
      "id": "8431ef9b-9b6e-47b0-89e4-2ac6c88fcff5",
      "name": "Create Scope of Work"
    },
    {
      "parameters": {
        "name": "update_scope_of_work",
        "description": "Call this tool every time the lead provides any piece of information needed for the scope of work. Update fields one at a time as the conversation progresses. Always pass the SOW record ID returned from create_scope_of_work.",
        "jsCode": "const AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst SOW_TABLE_ID = 'YOUR_TABLE_4_ID';\n\nconst sowRecordId = $fromAI('sowRecordId', 'The Airtable record ID of the Scope of Work record \u2014 starts with \"rec\". Returned from create_scope_of_work.', 'string');\nconst fieldName = $fromAI('fieldName', 'The exact Airtable field name to update. Must be one of: Agent Type, Status, Build Price, Monthly Price, Demo Start Date, Demo End Date, Committed Date, Business Name, Industry, Location, Service Area, Hours of Operation, Website, Pain Point, Current Software, Additional Info, NDA Sent, NDA Signed, SOW Sent, SOW Signed, Payment Received, Build Complete, Agent Deployed, Notes', 'string');\nconst fieldValue = $fromAI('fieldValue', 'The value to set for the field. For checkboxes use true or false. For dates use YYYY-MM-DD format. For currency use a number.', 'string');\n\nif (!sowRecordId || !sowRecordId.startsWith('rec')) {\n  return 'Error: Invalid SOW record ID. Cannot update.';\n}\n\nif (!fieldName) {\n  return 'Error: No field name provided.';\n}\n\nconst validFields = [\n  'Agent Type', 'Status', 'Build Price', 'Monthly Price',\n  'Demo Start Date', 'Demo End Date', 'Committed Date',\n  'Business Name', 'Industry', 'Location', 'Service Area',\n  'Hours of Operation', 'Website', 'Pain Point',\n  'Current Software', 'Additional Info',\n  'NDA Sent', 'NDA Signed', 'SOW Sent', 'SOW Signed',\n  'Payment Received', 'Build Complete', 'Agent Deployed', 'Notes'\n];\n\nif (!validFields.includes(fieldName)) {\n  return `Error: \"${fieldName}\" is not a valid SOW field. Valid fields are: ${validFields.join(', ')}`;\n}\n\nlet value = fieldValue;\nconst checkboxFields = ['NDA Sent', 'NDA Signed', 'SOW Sent', 'SOW Signed', 'Payment Received', 'Build Complete', 'Agent Deployed'];\nconst currencyFields = ['Build Price', 'Monthly Price'];\n\nif (checkboxFields.includes(fieldName)) {\n  value = fieldValue === 'true' || fieldValue === true;\n}\nif (currencyFields.includes(fieldName)) {\n  value = parseFloat(fieldValue);\n}\n\ntry {\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${SOW_TABLE_ID}/${sowRecordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ fields: { [fieldName]: value } })\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  return `SOW updated: \"${fieldName}\" set to \"${value}\" for record ${sowRecordId}`;\n} catch (e) {\n  return `Failed to update SOW: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3136,
        1136
      ],
      "id": "1fe22bb9-01ee-40d8-9650-64dcc1ed7b29",
      "name": "Update Scope of Work"
    },
    {
      "parameters": {
        "name": "get_scope_of_work",
        "description": "Call this tool at the START of every conversation to check if this lead already has an existing Scope of Work in progress. Use the results to avoid asking for information already collected, and to pick up exactly where the conversation left off.",
        "jsCode": "const AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst SOW_TABLE_ID = 'YOUR_TABLE_4_ID';\n\nconst recordId = $fromAI('recordId', 'The Airtable record ID of this lead \u2014 the \"id\" field from CURRENT LEAD INFO, starts with \"rec\"', 'string');\n\nif (!recordId || !recordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID.';\n}\n\ntry {\n  const formula = encodeURIComponent(`FIND(\"${recordId}\", ARRAYJOIN(Lead))`);\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${SOW_TABLE_ID}?filterByFormula=${formula}`,\n    {\n      method: 'GET',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      }\n    }\n  );\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n  const data = await response.json();\n\n  if (!data.records || data.records.length === 0) {\n    return 'No existing Scope of Work found for this lead. If they agree to move forward, use create_scope_of_work.';\n  }\n\n  const sow = data.records[0];\n  const fields = sow.fields;\n\n  const filled = [];\n  const missing = [];\n\n  const allFields = [\n    'Agent Type', 'Business Name', 'Industry', 'Location',\n    'Service Area', 'Hours of Operation', 'Website',\n    'Pain Point', 'Current Software', 'Additional Info'\n  ];\n\n  allFields.forEach(f => {\n    if (fields[f]) {\n      filled.push(`${f}: ${fields[f]}`);\n    } else {\n      missing.push(f);\n    }\n  });\n\n  return JSON.stringify({\n    sowRecordId: sow.id,\n    status: fields['Status'] || 'Draft',\n    agentType: fields['Agent Type'] || 'Not set',\n    buildPrice: fields['Build Price'] || 'Not set',\n    monthlyPrice: fields['Monthly Price'] || 'Not set',\n    demoStart: fields['Demo Start Date'] || 'Not set',\n    demoEnd: fields['Demo End Date'] || 'Not set',\n    filledFields: filled,\n    missingFields: missing,\n    ndaSent: fields['NDA Sent'] || false,\n    ndaSigned: fields['NDA Signed'] || false,\n    sowSent: fields['SOW Sent'] || false,\n    sowSigned: fields['SOW Signed'] || false,\n    paymentReceived: fields['Payment Received'] || false,\n    notes: fields['Notes'] || ''\n  });\n} catch (e) {\n  return `Failed to retrieve Scope of Work: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3264,
        1136
      ],
      "id": "c3423cb5-97bf-4477-a12c-2bee56853a31",
      "name": "Get Scope of Work"
    },
    {
      "parameters": {
        "name": "log_outcome",
        "description": "Call this tool at the END of every conversation \u2014 win or lose. If the deal closed call close_deal first, then call this. If the lead went cold, objected, or said no \u2014 still call this to log what happened. This data makes the whole system smarter over time.",
        "jsCode": "// ============================================================\n// LOG OUTCOME TOOL\n// Captures what happened in every conversation\n// Win or lose \u2014 always log it\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst SOW_TABLE_ID = 'YOUR_TABLE_4_ID';\nconst LEADS_TABLE_ID = 'YOUR_LEADS_TABLE_ID';\n\nconst sowRecordId = $fromAI('sowRecordId', 'The Airtable record ID of the Scope of Work \u2014 starts with rec. If no SOW exists yet pass empty string.', 'string');\nconst leadRecordId = $fromAI('leadRecordId', 'The Airtable record ID of the lead \u2014 the id field from CURRENT LEAD INFO, starts with rec', 'string');\nconst dealOutcome = $fromAI('dealOutcome', 'What happened \u2014 must be exactly one of: Won, Lost, Ghosted', 'string');\nconst lostReason = $fromAI('lostReason', 'If Lost, why \u2014 one of: Price, Not Interested, Bad Fit, No Response, Competitor. Leave empty if Won.', 'string');\nconst whatWorked = $fromAI('whatWorked', 'What resonated with the lead? What moved them forward or almost moved them? Be specific.', 'string');\nconst objectionsRaised = $fromAI('objectionsRaised', 'What objections did they raise? What concerns did they have? Be specific.', 'string');\n\nconst validOutcomes = ['Won', 'Lost', 'Ghosted'];\nconst validLostReasons = ['Price', 'Not Interested', 'Bad Fit', 'No Response', 'Competitor', ''];\n\nif (!leadRecordId || !leadRecordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID. Cannot log outcome.';\n}\n\nif (!validOutcomes.includes(dealOutcome)) {\n  return `Error: Deal outcome must be Won, Lost, or Ghosted. Got: ${dealOutcome}`;\n}\n\nconst results = [];\n\n// Update SOW if we have a record ID\nif (sowRecordId && sowRecordId.startsWith('rec')) {\n  try {\n    const sowFields = {\n      'Deal Outcome': dealOutcome\n    };\n    if (lostReason && validLostReasons.includes(lostReason)) {\n      sowFields['Lost Reason'] = lostReason;\n    }\n    if (whatWorked) sowFields['What Worked'] = whatWorked;\n    if (objectionsRaised) sowFields['Objections Raised'] = objectionsRaised;\n\n    const sowResponse = await fetch(\n      `https://api.airtable.com/v0/${BASE_ID}/${SOW_TABLE_ID}/${sowRecordId}`,\n      {\n        method: 'PATCH',\n        headers: {\n          'Authorization': `Bearer ${AIRTABLE_PAT}`,\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify({ fields: sowFields })\n      }\n    );\n    if (sowResponse.ok) {\n      results.push('SOW outcome logged');\n    }\n  } catch (e) {\n    results.push(`SOW update failed: ${e.message}`);\n  }\n}\n\n// Update lead status based on outcome\ntry {\n  let newStatus = 'Contacted';\n  if (dealOutcome === 'Won') newStatus = 'Closed';\n  if (dealOutcome === 'Lost') newStatus = 'Contacted';\n  if (dealOutcome === 'Ghosted') newStatus = 'Contacted';\n\n  const leadResponse = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${LEADS_TABLE_ID}/${leadRecordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ \n        fields: { 'Status': newStatus }\n      })\n    }\n  );\n  if (leadResponse.ok) {\n    results.push(`Lead status updated to ${newStatus}`);\n  }\n} catch (e) {\n  results.push(`Lead update failed: ${e.message}`);\n}\n\nif (results.length === 0) {\n  return 'Warning: Could not log outcome. Please try again.';\n}\n\nreturn `Outcome logged: ${dealOutcome}. ${results.join('. ')}.`;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3392,
        1136
      ],
      "id": "d6bfc6bc-2bd5-454b-ac50-ba48660e69ed",
      "name": "Log Outcome"
    },
    {
      "parameters": {
        "name": "check_capacity",
        "description": "Call this tool BEFORE calling close_deal or create_scope_of_work. It checks how many builds are already scheduled and returns the next available build date. If today is full it will give you a future date to offer the customer. Always call this first when a customer agrees to move forward.",
        "jsCode": "// ============================================================\n// CHECK CAPACITY TOOL\n// Enforces daily build cap of 5\n// Returns next available build date\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst QUEUE_TABLE_ID = 'YOUR_TABLE_2_ID';\nconst DAILY_CAP = 5;\n\n// Get today and next 14 days to find availability\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\ntry {\n  // Fetch all queued or in-progress builds\n  const formula = encodeURIComponent(\n    `OR({Build Status}='Queued', {Build Status}='In Progress')`\n  );\n  \n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${QUEUE_TABLE_ID}?filterByFormula=${formula}&fields[]=Scheduled+Build+Date&fields[]=Build+Status`,\n    {\n      headers: { 'Authorization': `Bearer ${AIRTABLE_PAT}` }\n    }\n  );\n\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n\n  const data = await response.json();\n  const records = data.records || [];\n\n  // Count builds per date\n  const buildCounts = {};\n  for (const record of records) {\n    const date = record.fields['Scheduled Build Date'];\n    if (date) {\n      buildCounts[date] = (buildCounts[date] || 0) + 1;\n    }\n  }\n\n  // Find next available date starting from today\n  let availableDate = null;\n  let daysChecked = 0;\n  const checkDate = new Date(today);\n\n  while (!availableDate && daysChecked < 30) {\n    const dateStr = checkDate.toISOString().split('T')[0];\n    const count = buildCounts[dateStr] || 0;\n\n    // Skip weekends\n    const dayOfWeek = checkDate.getDay();\n    if (dayOfWeek !== 0 && dayOfWeek !== 6 && count < DAILY_CAP) {\n      availableDate = dateStr;\n    }\n\n    checkDate.setDate(checkDate.getDate() + 1);\n    daysChecked++;\n  }\n\n  if (!availableDate) {\n    return JSON.stringify({\n      available: false,\n      message: 'Schedule is fully booked for the next 30 days. Please contact Jake directly at your-email@example.com',\n      nextAvailableDate: null,\n      todayCount: buildCounts[today.toISOString().split('T')[0]] || 0,\n      dailyCap: DAILY_CAP\n    });\n  }\n\n  const todayStr = today.toISOString().split('T')[0];\n  const todayCount = buildCounts[todayStr] || 0;\n  const isToday = availableDate === todayStr;\n\n  // Format date nicely\n  const dateObj = new Date(availableDate + 'T12:00:00');\n  const formattedDate = dateObj.toLocaleDateString('en-US', {\n    weekday: 'long',\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric'\n  });\n\n  return JSON.stringify({\n    available: true,\n    isToday: isToday,\n    nextAvailableDate: availableDate,\n    formattedDate: formattedDate,\n    todayCount: todayCount,\n    dailyCap: DAILY_CAP,\n    slotsRemainingToday: Math.max(0, DAILY_CAP - todayCount),\n    message: isToday\n      ? `Great news \u2014 we have ${DAILY_CAP - todayCount} build slot${DAILY_CAP - todayCount !== 1 ? 's' : ''} available today. Build can start immediately after demo period.`\n      : `Today's build slots are full. Next available build date is ${formattedDate}. Demo period starts today, build kicks off on that date.`\n  });\n\n} catch (e) {\n  // Fail open \u2014 if capacity check fails don't block the sale\n  return JSON.stringify({\n    available: true,\n    isToday: true,\n    nextAvailableDate: new Date().toISOString().split('T')[0],\n    formattedDate: 'as soon as possible',\n    todayCount: 0,\n    dailyCap: DAILY_CAP,\n    slotsRemainingToday: DAILY_CAP,\n    message: `Capacity check encountered an error but proceeding: ${e.message}`\n  });\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3520,
        1136
      ],
      "id": "4f8de9ce-2c17-4266-9588-54dd5c430f50",
      "name": "Check Capacity"
    },
    {
      "parameters": {
        "name": "add_to_build_queue",
        "description": "Call this tool AFTER check_capacity and AFTER create_scope_of_work. This adds the customer to the build queue on the next available date returned by check_capacity. Pass the date exactly as returned by check_capacity.",
        "jsCode": "// ============================================================\n// ADD TO BUILD QUEUE TOOL\n// Adds customer to the build schedule\n// Call after check_capacity returns an available date\n// ============================================================\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst QUEUE_TABLE_ID = 'YOUR_TABLE_2_ID';\n\nconst leadRecordId = $fromAI('leadRecordId', 'The Airtable record ID of the lead \u2014 starts with rec', 'string');\nconst sowRecordId = $fromAI('sowRecordId', 'The Airtable record ID of the Scope of Work \u2014 starts with rec', 'string');\nconst agentType = $fromAI('agentType', 'The type of agent being built e.g. Voice Receptionist Agent', 'string');\nconst scheduledDate = $fromAI('scheduledDate', 'The build date returned by check_capacity in YYYY-MM-DD format', 'string');\n\nif (!leadRecordId || !leadRecordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID.';\n}\n\nif (!sowRecordId || !sowRecordId.startsWith('rec')) {\n  return 'Error: Invalid SOW record ID.';\n}\n\nif (!scheduledDate) {\n  return 'Error: No scheduled date provided. Run check_capacity first.';\n}\n\ntry {\n  // Get current position count for that date\n  const formula = encodeURIComponent(\n    `{Scheduled Build Date}='${scheduledDate}'`\n  );\n  const countResponse = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${QUEUE_TABLE_ID}?filterByFormula=${formula}&fields[]=Position`,\n    { headers: { 'Authorization': `Bearer ${AIRTABLE_PAT}` } }\n  );\n  const countData = await countResponse.json();\n  const position = (countData.records || []).length + 1;\n\n  // Add to queue\n  const response = await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${QUEUE_TABLE_ID}`,\n    {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        fields: {\n          'Lead': [{ 'id': leadRecordId }],\n          'SOW': [{ 'id': sowRecordId }],\n          'Agent Type': agentType || '',\n          'Scheduled Build Date': scheduledDate,\n          'Build Status': 'Queued',\n          'Position': position\n        }\n      })\n    }\n  );\n\n  if (!response.ok) {\n    const err = await response.text();\n    throw new Error(err);\n  }\n\n  const data = await response.json();\n\n  // Format date nicely for confirmation message\n  const dateObj = new Date(scheduledDate + 'T12:00:00');\n  const formattedDate = dateObj.toLocaleDateString('en-US', {\n    weekday: 'long',\n    month: 'long',\n    day: 'numeric'\n  });\n\n  return `Successfully added to build queue. Position ${position} on ${formattedDate}. Queue record ID: ${data.id}`;\n\n} catch (e) {\n  return `Failed to add to build queue: ${e.message}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3648,
        1136
      ],
      "id": "85b863fe-68f7-4e0d-b7e2-cfa57d5191af",
      "name": "Add to Build Queue"
    },
    {
      "parameters": {
        "name": "send_card_capture_link",
        "description": "Call this tool AFTER close_deal is called and the customer has verbally agreed to move forward. This creates a Stripe Setup Intent and sends the customer a secure link to add their card on file. Nothing will be charged \u2014 it only captures the card for the demo period.",
        "jsCode": "// ============================================================\n// SEND CARD CAPTURE LINK TOOL\n// Creates a Stripe Setup Intent and sends secure link to customer\n// Call AFTER close_deal\n// !! Replace PASTE_STRIPE_SECRET_KEY with your sk_test_ or sk_live_ key\n// ============================================================\nconst STRIPE_SECRET_KEY = 'YOUR_STRIPE_SECRET_KEY';\nconst AIRTABLE_PAT = 'YOUR_AIRTABLE_PAT';\nconst BASE_ID = 'YOUR_AIRTABLE_BASE_ID';\nconst LEADS_TABLE = 'YOUR_LEADS_TABLE_ID';\nconst SOW_TABLE = 'YOUR_TABLE_4_ID';\n\nconst leadRecordId = $fromAI('leadRecordId', 'The Airtable record ID of the lead \u2014 starts with rec', 'string');\nconst sowRecordId = $fromAI('sowRecordId', 'The Airtable record ID of the Scope of Work \u2014 starts with rec', 'string');\nconst customerName = $fromAI('customerName', 'The full name of the customer', 'string');\nconst customerEmail = $fromAI('customerEmail', 'The email address of the customer', 'string');\nconst buildAmount = $fromAI('buildAmount', 'The agreed build fee amount as a number e.g. 997', 'number');\nconst monthlyAmount = $fromAI('monthlyAmount', 'The agreed monthly fee amount as a number e.g. 499', 'number');\nconst agentType = $fromAI('agentType', 'The type of agent being built e.g. Voice Receptionist Agent', 'string');\n\nif (!customerEmail) {\n  return 'Error: Customer email is required to send card capture link. Make sure email has been collected.';\n}\n\nif (!leadRecordId || !leadRecordId.startsWith('rec')) {\n  return 'Error: Invalid lead record ID.';\n}\n\ntry {\n  // Step 1 \u2014 Create Stripe Customer\n  const customerBody = new URLSearchParams({\n    'email': customerEmail,\n    'name': customerName || '',\n    'metadata[lead_record_id]': leadRecordId,\n    'metadata[sow_record_id]': sowRecordId || '',\n    'metadata[agent_type]': agentType || '',\n    'metadata[build_amount]': String(buildAmount || 0),\n    'metadata[monthly_amount]': String(monthlyAmount || 0),\n    'metadata[customer_name]': customerName || '',\n    'metadata[customer_email]': customerEmail\n  });\n\n  const customerResponse = await fetch('https://api.stripe.com/v1/customers', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${STRIPE_SECRET_KEY}`,\n      'Content-Type': 'application/x-www-form-urlencoded'\n    },\n    body: customerBody.toString()\n  });\n\n  if (!customerResponse.ok) {\n    const err = await customerResponse.text();\n    throw new Error(`Stripe customer creation failed: ${err}`);\n  }\n\n  const customer = await customerResponse.json();\n  const customerId = customer.id;\n\n  // Step 2 \u2014 Create Setup Intent\n  const setupBody = new URLSearchParams({\n    'customer': customerId,\n    'payment_method_types[]': 'card',\n    'usage': 'off_session',\n    'metadata[lead_record_id]': leadRecordId,\n    'metadata[sow_record_id]': sowRecordId || '',\n    'metadata[customer_name]': customerName || '',\n    'metadata[customer_email]': customerEmail,\n    'metadata[build_amount]': String(buildAmount || 0),\n    'metadata[monthly_amount]': String(monthlyAmount || 0)\n  });\n\n  const setupResponse = await fetch('https://api.stripe.com/v1/setup_intents', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${STRIPE_SECRET_KEY}`,\n      'Content-Type': 'application/x-www-form-urlencoded'\n    },\n    body: setupBody.toString()\n  });\n\n  if (!setupResponse.ok) {\n    const err = await setupResponse.text();\n    throw new Error(`Stripe setup intent creation failed: ${err}`);\n  }\n\n  const setupIntent = await setupResponse.json();\n\n  // Step 3 \u2014 Create Payment Link for card capture\n  // Using Stripe hosted page for setup\n  const sessionBody = new URLSearchParams({\n    'mode': 'setup',\n    'customer': customerId,\n    'success_url': 'https://workingclassai.io/demo-confirmed?session_id={CHECKOUT_SESSION_ID}',\n    'cancel_url': 'https://workingclassai.io/demo-cancelled',\n    'payment_method_types[]': 'card',\n    'metadata[lead_record_id]': leadRecordId,\n    'metadata[sow_record_id]': sowRecordId || '',\n    'metadata[customer_name]': customerName || '',\n    'metadata[customer_email]': customerEmail,\n    'metadata[build_amount]': String(buildAmount || 0),\n    'metadata[monthly_amount]': String(monthlyAmount || 0)\n  });\n\n  const sessionResponse = await fetch('https://api.stripe.com/v1/checkout/sessions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${STRIPE_SECRET_KEY}`,\n      'Content-Type': 'application/x-www-form-urlencoded'\n    },\n    body: sessionBody.toString()\n  });\n\n  if (!sessionResponse.ok) {\n    const err = await sessionResponse.text();\n    throw new Error(`Stripe checkout session creation failed: ${err}`);\n  }\n\n  const session = await sessionResponse.json();\n  const cardCaptureUrl = session.url;\n\n  // Step 4 \u2014 Send email to customer with card capture link\n  const emailBody = new URLSearchParams({\n    'from': 'your-email@example.com',\n    'to': customerEmail,\n    'subject': 'One last step \u2014 secure your Working Class AI demo',\n    'html': `<p>Hey ${customerName ? customerName.split(' ')[0] : 'there'},</p>\n\n<p>We are all set to kick off your free 14-day demo of your ${agentType || 'AI Agent'}. The last step is to securely add a card on file \u2014 nothing will be charged until after your demo period ends on day 14.</p>\n\n<p><a href=\"${cardCaptureUrl}\" style=\"background-color:#000;color:#fff;padding:12px 24px;text-decoration:none;border-radius:4px;display:inline-block;margin:16px 0;\">Add Card on File \u2014 Secure Checkout</a></p>\n\n<p>This is handled by Stripe \u2014 the same secure payment processor used by Amazon, Google, and millions of other businesses. Your card info is never stored on our servers.</p>\n\n<p>Once your card is on file your demo starts immediately and Jake will begin building your agent. You will have it deployed and running within 7 business days.</p>\n\n<p>Questions? Just reply to this email.</p>\n\n<p>\u2014 Alex, Working Class AI</p>`\n  });\n\n  // Update Airtable with Stripe customer ID\n  await fetch(\n    `https://api.airtable.com/v0/${BASE_ID}/${LEADS_TABLE}/${leadRecordId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'Authorization': `Bearer ${AIRTABLE_PAT}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({\n        fields: {\n          'Stripe Customer ID': customerId\n        }\n      })\n    }\n  );\n\n  return `Card capture link created and emailed to ${customerEmail}. Stripe Customer ID: ${customerId}. Setup Intent ID: ${setupIntent.id}. The customer will receive an email with a secure link to add their card. Demo starts automatically once they complete it.`;\n\n} catch (e) {\n  return `Failed to create card capture link: ${e.message}. Please send the customer to workingclassai.io to arrange payment manually or email your-email@example.com.`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3744,
        1120
      ],
      "id": "5e1d3add-9cdc-46e0-8701-11116fcd4c62",
      "name": "Send Card Capture Link"
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "={{ $('Normalize Channel Input').item.json.identifier }}",
        "subject": "=Re: Working Class AI \u2014 {{ $('Merge Lead Data').item.json['First Name'] \n\n 'your inquiry' }}",
        "emailFormat": "text",
        "text": "={{ $('Alex - Sales Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4080,
        1376
      ],
      "id": "1f456ce4-e378-4a29-987e-32b4242fa449",
      "name": "Send an Email",
      "webhookId": "",
      "credentials": {
        "smtp": {
          "id": "CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "CRM Working Class AI",
          "cachedResultUrl": "https://example.com"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_NO_EMAIL_LEADS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads No Email",
          "cachedResultUrl": "https://example.com"
        },
        "filterByFormula": "={Phone}='{{ $('Normalize Channel Input').item.json.identifier.replace(/\\D/g, '').replace(/^1/, '').replace(/(\\d{3})(\\d{3})(\\d{4})/, '($1) $2-$3') }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        832,
        1024
      ],
      "id": "87f50a16-9bf9-4928-9519-fe4c0cb67d5d",
      "name": "Search No Email Leads",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0e3a686-1a0e-427c-9bc6-1ea9ae8deaa6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        1024
      ],
      "id": "b5d20524-e501-4f26-abe3-c622e43722d0",
      "name": "No Email Lead Exists"
    },
    {
      "parameters": {
        "path": "wcai-fb-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1744,
        224
      ],
      "id": "314ec731-0c9c-4e96-bb30-2853267df1ea",
      "name": "FB Verify Webhook",
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const params = $input.item.json.query;\nconst verifyToken = 'wcai_fb_verify_token';\n\nif (params['hub.mode'] === 'subscribe' && params['hub.verify_token'] === verifyToken) {\n  return { json: { response: params['hub.challenge'] } };\n} else {\n  throw new Error('Verification failed');\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        224
      ],
      "id": "38235816-ccbd-416d-abf5-144971e86899",
      "name": "FB Verify Code"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2192,
        224
      ],
      "id": "3fd9e98a-f9f1-4567-97e8-533c1a5a6da4",
      "name": "FB Verify Respond"
    }
  ],
  "connections": {
    "n8n Chat": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Inbound": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Inbound": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Inbound": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Messenger Inbound": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Inbound": {
      "main": [
        [
          {
            "node": "Normalize Channel Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Channel Input": {
      "main": [
        [
          {
            "node": "Search for Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Lead": {
      "main": [
        [
          {
            "node": "Lead Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Exists?": {
      "main": [
        [
          {
            "node": "Merge Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search No Email Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Lead": {
      "main": [
        [
          {
            "node": "Reload Lead After Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Lead After Create": {
      "main": [
        [
          {
            "node": "Merge Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Data": {
      "main": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alex - Sales Agent": {
      "main": [
        [
          {
            "node": "Route Response by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory": {
      "ai_memory": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Tool": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update First Name": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Email": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Company": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route Response by Channel": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SMS Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Facebook Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Deal Tool": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Scope of Work": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Scope of Work": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Scope of Work": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Log Outcome": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Capacity": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add to Build Queue": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Card Capture Link": {
      "ai_tool": [
        [
          {
            "node": "Alex - Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search No Email Leads": {
      "main": [
        [
          {
            "node": "No Email Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Email Lead Exists": {
      "main": [
        [
          {
            "node": "Merge Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Verify Webhook": {
      "main": [
        [
          {
            "node": "FB Verify Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Verify Code": {
      "main": [
        [
          {
            "node": "FB Verify Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}